@{
    ViewData["Title"] = "Join with Us";
}

<div class="text-center" style="margin-top:100px;">
    <h1>@ViewData["Title"]</h1>
    <hr class="style12">
</div>
<div class="p-5 container">
    <div class="text-center">
        <img alt="pict1" src="@Url.Content("~/Images/deal.png")" width="70px"/><br /><br />
        <h3><i>Become our partner!</i></h3><br />
    </div>
    <hr style="height:5px;border-width:0;color:gray;background-color:gray">
    <br />
    <h5>There are two ways to cooperate with us:</h5>
    <p>
        &#10003; One-time contracts<br>
        &#10003; Permanent representative in the specific region
    </p>
    <br />
    <hr style="height:5px;border-width:0;color:gray;background-color:gray">
    <br />
    <h5>Your responsibilities:</h5>
    <p>
        We are interested in expanding our professional contacts outside of Indonesia
        and in establishing successful relationship with our potential partners and clients.<br />
        We expect that you as our partners will help us to reach company who are interested in
        IT services with the main goal to sign a contract with us.
    </p>
    <br />
    <hr style="height:5px;border-width:0;color:gray;background-color:gray">
    <br />
    <h5>Benefits for you:</h5>
    <p>
        &#10003; Bridging the gap in expertise and knowledge<br />
        &#10003; More business opportunities<br />
        &#10003; Wider range of opportunities
    </p>
    <br />
    <hr style="height:5px;border-width:0;color:gray;background-color:gray">

    <div class="p-5 text-center bg-dark text-light">
        <h4>So, what are you waiting for?</h4><br />
        <a href="https://api.whatsapp.com/send?phone=628123456789" class="btn btn-warning" role="button">Contact Now</a>
    </div>
</div>